Django>=5.0
whitenoise
gunicorn
dj-database-url
psycopg2-binary
python-dotenv
django-environ
Pillow==10.2.0  # For image handling
django-crispy-forms==2.1  # For better form rendering
crispy-bootstrap5==2024.2  # Bootstrap 5 template pack for crispy-forms